asgiref
certifi
charset-normalizer
coreapi
coreschema
dj-database-url
Django
django-ckeditor-5
django-jazzmin
django-js-asset
django-rest-swagger
djangorestframework
drf-yasg
idna
inflection
itypes
Jinja2
MarkupSafe
openapi-codec
packaging
pillow
psycopg2-binary
python-dotenv
pytz
PyYAML
requests
simplejson
sqlparse
typing_extensions
uritemplate
urllib3
whitenoise
