asgiref
certifi
charset-normalizer
coreapi
coreschema
Django
django-jazzmin
django-js-asset
django-rest-swagger
djangorestframework
drf-yasg
gunicorn
idna
inflection
itypes
Jinja2
MarkupSafe
openapi-codec
packaging
pillow
psycopg2-binary
python-dotenv
pytz
PyYAML
requests
simplejson
sqlparse
typing_extensions
uritemplate
urllib3
whitenoise

django-tinymce
django-cors-headers
